.adsList {
    padding: 4rem 12%;
    position: relative;
}

.adsList > * + * {
    margin-top: 5rem;
}

.featuredAd {
    border-left: 4px solid #5DA8A3;
}

.emptyContent {
    font-size: 2em;
    font-weight: bolder;
}