.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background: url(/public/images/bg-header-mobile.svg) bottom / cover #5DA5A4;
  min-height: 17vh;

}


@media (min-width: 65em) {
  .App-header {
    background: url(/public/images/bg-header-desktop.svg) bottom / cover;
  
  }
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
