.button {
border-radius: var(--button-rounding,5px);
padding: 8px 10px;
border: none;
font-family: 'League Spartan', sans-serif;
font-size: 0.9em;
font-weight: bold;
cursor:pointer;
caret-color: white;

}


.button.pill {
    border-radius: 18px;
    color: white;
    margin-inline: 4px;
    cursor: inherit;
    padding-bottom: 6px;

}

.new {
    background-color: hsl(var(--secondary-color, 176 30% 51%));
    text-transform: uppercase;
}

.featured {
    background-color: #101010;
    color: white;
    text-transform: uppercase;
}

.profile {
    color: hsl(var(--secondary-color, 176 30% 51%));
    background-color: hsl(var(--primary-color, 185 58% 96%));
    font-size: 1em;
}

button.profile:hover {
background-color: hsl(var(--secondary-color, 176 30% 51%));
color: white;
}

.button.profile:active {
    transform: scale(0.9);
}

/* .button.button.pill:hover {
    transform: scale(1.2);
}

.button:active {
    transform: scale(0.9);
} */